
.mainsidebar{
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    z-index: 200;
    }
    .close{
      transform: translate(-100%);
      transition: .3s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }
    .show{
 
      opacity: 1;
      visibility: visible;
    transform: translate(0);
    transition: .3s ease-in-out;
    }
  
  
  .header_overlay {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #000;
    z-index: 100;
    transition: .3s ease-in-out;
  }

  .close{
    opacity: 0;
    visibility: hidden;
  }
 .active {
   
    visibility: visible;
    opacity: 0.2;
  }

  @media(max-width:990px){
    .mainsidebar {
      
      width: 340px !important ;
     
  }
  }