
@media (max-width: 560px) {
  .notification-btn .notification {
    width: 320px;
  }
  .ctb {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .cart-holder {
    position: absolute;
    min-height: 100vh;
    width: 100%;
  }
}

@media (max-width: 640px) {
  
  .user .modal-content {
    padding: 0;
  }
  .category_img {
    height: auto;
  }
  .notification-btn {
    position: inherit;
  }
  p#contentcshow {
    display: none;
  }
  .header-bottom {
    margin-top: 5px;
  }
  .header-top {
    padding: 10px 0 0 0;
  }
  .btn.btn-primary.float-right {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
  }
  .category-section h2 {
    font-size: 16px;
  }
}

@media (max-width: 760px) {
  

  
  


  .contact-btn {
    display: none;
  }
  

  .sell-price {
    font-size: 12px;
  }
}

@media (max-width: 990px) {
  button.btn.add-to-bag-btn.single-product-btn {
    width: 90%;
    font-size: 16px;
  }
 
.banner_sec,.custom_page {
  margin-top: 110px;
}
  .modal-content h6 {
    font-size: 16px;
  }
  .add-to-bag-btn{
    font-size: 12px;
  }
  .price h6 {
    font-size: 12px;

  }
  h6.sell-price {
    font-size: 10px;
    display: flex;
  }
  .mobile-hide{
    display: none;
  }
 
  .nav-sizings {
    font-size: 12px;
}

.notification-holder {
  left: -170%;
  max-width: 300px;
}
}


@media (min-width: 990px) {
  .custom_page.preorder .modal-dialog {
    max-width: 65%;
  }
  .mobile-show{
    display: none;
  }
  .signup .modal-dialog {
    max-width: 690px;
  }
  .signup .modal-content {
    padding: 30px;
  }
  .col {
    max-width: 12.5%;
  }
  .user .modal-dialog {
    max-width: 690px !important;
  }
}
@media (min-width: 1200px) {
  .col {
    max-width: 12.5%;
  }
}
