:root{
    --primary-color: #5EC401;
    --secondary-color: #F37A20;
    --text-color:#3C4B52;
    --border-radius:6px;
    --icon-color: #3C4B52;
    --card-bg: #F4F4F5;
}

a{
    text-decoration: none !important;
}
h1,h2,h3,h4,h5,h6,p{
    color: var(--text-color);
    margin-bottom: 0px !important;
}
h2{
    font-size: 2em;
    font-weight: 500;
    color: var(--text-color);
}
h3{
    font-size: 1.2em;
    font-weight: 500;
}
h6{
    font-size: 0.9em;
}
ul{
    list-style: none;
}
ul li{
    padding-bottom: 10px;
}
ul li a {
    color: rgba(55, 71, 79, 0.72);
    font-size: 0.9em;
    font-weight: 500;
    font-size: 16px;
 
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

section {
    padding: 30px 0px;
}
footer{
    padding: 30px 0px;
}
.icon{
    color: var(--icon-color);
}
.btn {
    padding: 5px 10px;
    border-radius: var(--border-radius);
    border: none;
}
.btn-primary{
    color: #ffffff;
    background-color: var(--primary-color);

}
.btn-primary:hover{
    color: #ffffff;
    background-color: var(--primary-color);

}
.btn-secondary{
    color: #ffffff;
    background-color: var(--secondary-color);

}
.btn-secondary:hover{
    color: #ffffff;
    background-color: var(--secondary-color);
}
.card{
    border: none;
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
}

.header-top{
    padding: 20px 0px;
}
header .logo-holder .logo{
    height: 2rem;
}
.top-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    flex: 0.7;
    max-width: 400px;
}
.notification-btn{
    position: relative;
}
.notification-btn .notification-holder {
    position: absolute;
    background-color: #FFFFFF;
    padding: 20px 20px;
    width: 20rem;
    height: auto;
    z-index: 99983377;
    top: 31px;
    right: 0;
    border-radius: var(--border-radius);
    box-shadow: 0px 24px 21px rgba(0, 0, 0, 0.11);
}
.notification-header{
    display: flex;
    border-bottom: 1px solid #f6f6f6;
    justify-content: space-between;
}
.notification-list{
    border-bottom: 1px solid #f6f6f6;
    border-radius: var(--border-radius);
    padding: 15px 20px !important;
    white-space: inherit;
}
.noti-message{
    display: flex;
    justify-content: space-between;
}
.noti-message-icon{
    height: 25px;
    width: 25px;
    background-color: var(--secondary-color);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    border-radius: 50%;
}
.noti-message p{
    font-size: 13px;
}
.noti-unread{
    background-color: #E4F5D4;
    /* padding: 8px 8px !important; */
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
.header-bottom{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.bottom-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-btn i , .offer a i, .contact-btn a i{
    padding-right: 20px;
    color: var(--primary-color);
}
.offer a i{
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 5px;
    margin-right: 20px;
}
.category-btn button{
    border: none;
    background-color: transparent;
} 
.header-bottom-btn {
    
    color: #37474F;
   
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.header-bottom-btn:hover{
    color:black
}
.delivery {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
.delivery p{
    color: var(--primary-color);
    font-size: 14px;
    line-height: 2;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: var(--primary-color);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .2;
    transition: opacity .6s ease;
}
.category-card h6 {
    text-align: center;
    margin-top: 10px;
  
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.add-to-bag-btn {
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid #f6f6f65c;
    width: 100%;
    font-weight: 600;
   
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    
    border: 1px solid rgba(55, 71, 79, 0.14);
    box-sizing: border-box;
    border-radius: 8px;
}

.add-to-bag-btn:hover{
    color: #ffffff;
    background-color: var(--primary-color);
}
.add-to-bag-btn i{
    padding-right: 10px;
}
.sell-price{
    color: var(--secondary-color);
    margin-bottom: 10px;
    font-weight: 500;
}
.regular-price{
    color: var(--text-color);
    text-decoration: line-through;
    margin-left: 7px;
}
.delivery-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.no-card {
    display: flex;
    justify-content: center;
}
.out-of-stock-btn{
    background-color: #E3E5E6;
    color: var(--text-color);
    width: 100%;
    font-weight: 600;
}
.out-of-stock-btn i{
    padding-right: 5px;
}
.available {
    margin: 2% 0% 7% 0%;
    display: flex;
    justify-content: start;
}

.available p{
    
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #5EC401;

}
.pre-order-btn{
    margin-top: -5px;
}
footer{
    background-color: #F5F5F5;
}
.social{
    display: flex;
}
.social .box{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border:2px solid var(--primary-color);
    padding:5px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.social .box .fa{
    font-size: 20px;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00acee;
}
.fa-instagram{
    color: #d6249f;
}
.lighten-3{
    background-color: var(--primary-color);
}


.single-product-img img{
    display: block;
    margin: 0 auto;
    width: 90%;
}
.gallery-img{
    display: flex;
    justify-content: center;
}

.gallery-img-container img{
    max-width: 60px;
    margin-right: 15px;
}
.active-gallery-img{
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: var(--border-radius);
}
.single-product-btn{
    width: 50%;
    background-color: var(--primary-color);
    color: white;
}

.product-tags{
    display: flex;
    align-items: center;
}
.tag-btn{
    margin: 10px;
    background-color: #f6f6f6;
    color: var(--text-color);
}
.modal-header {

    border-bottom: none;

}
html{
    width: 100vw;
        overflow-x: hidden;
}
body{
    
        position: relative;
        width: 100vw;
        overflow-x: hidden;
    
}
.loging-holder{
    width: 290px;
    height: 500px;
    border-radius: var(--border-radius);
    background-color: #FFF;
    padding: 30px 15px;
    position: absolute;
    z-index: 87789898;
    right: 70px;
}
.login-header{
    border-bottom: 1px solid #f6f6f6;
}
.floting-cart{
    position: fixed;
    right: 0;
    top: 350px;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    background-color: var(--secondary-color);
    z-index: 19;
    width: 110px;
    padding: 10px 10px;
}
.floting-cart button{
    background-color: #FFF;
    color: var(--secondary-color);
    display: block;
    margin: 0 auto;
}
.floting-cart-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}
.floting-cart-top p{
    color: #FFF;
}
.cart-holder{
    padding: 20px;
    position: absolute;
    min-height: 100vh;
    background-color: white;
    width: 30%;
    right: 0;
    top: 0;
    z-index: 90999;
}

.cart-header{
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
    border-bottom: 1px solid #f6f6f6;
}
.cart-img{
    flex: 0.2;
    margin-right: 5px;
}
.cart-img img{
    width: 50px;
}
.quantity{
    flex: 0.6
}
.cart-price{
    flex: 0.2;
}
.cart-product-title{
    font-size: 15px;
    font-size: 400;
    color: var(--text-color);
}
.quantity-group{
    display: flex;
    align-items: center;
}
.btn-minus{
    background-color: red;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-plus{
    background-color: var(--primary-color);
    height: 30px;
    width: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-quantity {
    background-color: transparent;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background: #FFFFFF;
    border: 1px solid rgba(55, 71, 79, 0.14);
    box-sizing: border-box;
    border-radius: 4px;
}
.total-price p{
    font-weight: 600;
    font-size: 15px;
    margin: 0;
}
.cart-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-cart a .fa{
    color: red;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 567765444;
    top: 100;
    left: 100;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
 
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  
  .sidenav a:hover, .dropdown-btn:hover {
    color: var(--text-color);
  }
  
  
  .main {
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
  }
  
 
  
  
  .dropdown-container {
    display: none;
    background-color: var(--card-bg);
    padding-left: 8px;
  }
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

.main-content-section .sidebar{
    
    width:100%;
    height: 100vh;
    background:#08c;
}
.nav-link p{
    color:#000;
}
.payment-info ul li{
   display: inline-block;
    padding: 5px;
    background: #FFF;
}
.content-fish{
    width:100%;
    padding: 30px 0;
    background:#FFFFFF;
}
.content-fish h1{
    text-align: center;
    color:gray;
    padding: 14px 0;
}
.content-fish p{
    text-align: center;
    padding: 10px 0;
}

/* Style the form */
#regForm {
    background-color: #ffffff;
    width: 100%;
    
  }
  
  /* Style the input fields */
  input {
    padding: 7px;
    background-color: #f6f6f6;
    border-radius: var(--border-radius);
    border: none;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }
  .camera-icon{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 50%; 
    margin: 0 auto;
  }
  .btn-sync-facebook{
      background-color: #3b5998;
      width: 100%;
      color: white;
  }

#nextBtn{
    background-color: #5EC401;
    color: #FFFFFF;
    width: 100%;
}
.tab img{
    width: 70%;
    height: 150px;
    display: block;
    margin: 0 auto;
}
.verification-container{
    display: flex;
}
.verification-container p{
    padding: 0px 5px;
}
.verification-bottom{
    display: flex;
    justify-content: space-between;
}
.btn-resend-otp{
    color: var(--secondary-color);
    font-size: 12px;
}
.btn-chg-nmbr{
    color: #aaaabd;
    font-size: 12px;
}
.btn-resend-otp:hover{
    color: var(--secondary-color);
}
.btn-chg-nmbr:hover{
    color: #aaaabd;
}
.user-body button{
    outline-style: none;
}
.user-btn button img{
    height: 40px;
}
.user-holder{
    position: absolute;
    top: 45px;
    right: 150px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px 10px;
    width: 270px;
    z-index: 22222;
}
.profile-btn{
    position: relative;
}
.profile-holder{
    position: absolute;
    top: 120px;
    right: 150px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px 10px;
    width: 250px;
    z-index: 22222;
}
.profile-photo-cotainer{
    position: relative;
}
.profile-photo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.profile-submit{
    position: relative;
}
.profile-submit button{
    width: 100%;
}
.profile-submit i{
    position: absolute;
    left: 8px;
    top: 8px;
    color: #FFF;
}
.password-change{
    position: relative;
}
.password-change button{
    width: 100%;
}
.password-change i{
    position: absolute;
    left: 8px;
    top: 8px;
    color: #FFF;
}
.profile-form-fileds input{
    background-color: #f6f6f6 !important;
    border: none;
    text-indent: 20px;
}
.name{
    position: relative;
}
.name i{
    position: absolute;
    top: 40px;
    left: 8px;
}
.order-btn{
    position: relative;
}
.order-holder{
    position: absolute;
    top: 185px;
    right: 150px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px 10px;
    width: 250px;
    z-index: 22222;
}
.order-tab-toggler{
    display: flex;
    justify-content: space-between;
}
.tabs img{
    display: block;
    margin: o auto;
}
.order-ongoing-alert{
    font-size: 13px;
}
.history-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f6f6f6;
}
.history-item-img img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.history-item-details h5{
    font-size: 15px !important;
}
.history-item-price h6{
    color: var(--secondary-color);

}
.history-item-details p{
    margin-top: -16px;
    font-size: 12px;
}
.status{
    color: var(--primary-color);
    margin-top: -5px !important;
}
.payment-success-messege{
    border: 2px solid #f6f6f6;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
}
.order-box{
    padding: 30px 30px;
    /* min-height: 400px;
    max-width: 550px; */
    width: 100%;
    background-color: #FFF;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
    
}
.date-container{
    display: flex;
}
.dates{
    background-color: #f0f1f2;
    padding: 5px 10px;
    color: gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
}
.dates p, .dates h6{
    margin-bottom: 0px !important;
    font-size: 12px;
}
.date-selected{
    background-color: var(--primary-color) !important;
}
.date-selected p, .date-selected h6{
    color: #FFF !important;
}

.time-container{
    display: flex;
}
.times{
    background-color: #f0f1f2;
    padding: 15px 10px;
    color: gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.times p{
    margin-bottom: 0px !important;
    font-size: 12px;
}
.time-selected{
    background-color: var(--primary-color) !important;
}
.time-selected p{
    color: #FFF !important;
}
.addresschange-link a{
    color: var(--primary-color);
}
.address{
    display: flex;
    align-items: center;
}
.address-icon{
    height: 40px;
    width: 40px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.address-right h6{
    font-size: 13px !important;
}
.address-right p{
    font-size: 12px !important;
    padding-top: 5px;
    width: 70%;
}
.order-price-container{
    width: 60%;
}
.order-price-container p , .order-price-container h6{
    padding-bottom: 7px;
    font-size: 14px;
}
.promo-code-container{
    border-top: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    padding: 10px 0px;
}
.promo-code-container h6 img{
    height: 30px;
    width: 30px;
}
.order-note-container form .form-group textarea{
    background-color: #f6f6f6;
    text-indent: 20px;
    padding-top: 20px;
    border: none;
}
.order-note-container form button{
    width: 100%;
}
.online-payment , .cash-delivery{
    display: flex;
    justify-content: start;
}
.radio-btn-label label{
    font-size: 12px;
}
.radio-btn{
    flex: 0.1;
}
.radio-btn-label{
    flex: 0.4;
}
.radio-btn input[type="radio"]{
   background-color: red;
}
.boxed-border-container{
    display: flex;
    justify-content: center;
}
.boxed-border1, .boxed-border2, .boxed-border3, .boxed-border4 {
    height: 2px;
    background-color: #a3a3a3;
    display: block;
    width: 100px;
    margin: 5px; 
}
.boxed-border1{
    background-color: var(--primary-color);
}
.track-order-btn , .view-all-product-btn, .add-more-btn{
    width: 100%;
    margin-bottom: 10px;
}
.track-order-btn , .view-all-product-btn{
    background-color: #a3a3a3;
}
.confirmed-payment{
    display: flex;
    align-items: center;
}
.contact-support{
    width: 100%;
    position: relative;
}
.support-btn-icon{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #FFF;
}
.order-box2{
    padding: 30px 30px;
    height: auto;
    max-width: 550px;
    width: 100%;
    background-color: #FFF;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}

/* Search CSS */
.search .input-group input{
    position: relative;
    text-indent: 35px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius) !important;
}
.search-icon{
    position: absolute;
    left: 15px;
    top: 8px;
    
}
.search-icon .fa-search{
    color: var(--primary-color);
}
.search-container{
    position: absolute;
    top: 45px;
    width: 500px;
    height: auto;
    background-color: #FFF;
    z-index: 77;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    padding: 30px 15px;
}
.popular-search{
    
}

/* result not found css */
.result-not-found{
    padding: 0px 100px;
}
.result-not-found img{
    display: block;
    margin: 0 auto;
}
.result-not-found button{
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.add-genie-plus{
    position: absolute;
    left: 15px;
    top: 8px;
}

/* search result found */
.filter-btn{
    color: #5EC401;
}
.recomand-btns{
    display: flex;
    justify-content: space-between;
}
.recomand-btns button{
    background-color: #a3a3a3;
    font-size: 13px;
}
.search-result-list{
    display: flex;
    align-items:center;
}
.search-result-list-img{
    flex: 0.1;
}
.search-result-list-img img{
    width: 70px;
    
}
.search-result-list-detail{
    flex: 0.5;
}
.search-result-list-btns{
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.search-result-list-btn-cart .fa-heart-o{
    color: var(--secondary-color);
}
.recommended-btn{
    background-color: #b7d4b8;
    color: var(--primary-color);
    font-size: 13px;
}
.filter-btn{
    position: relative;
}
.filter-container{
    position: absolute;
    height: auto;
    width: 300px;
    background-color: #ffffff;
    right: 30px;
    top: 63px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    padding: 30px 15px;
}
.range-input{
    display: flex;
    align-items: center;
}
.range-input input{
    border: none !important;
    text-indent: 3px !important;
    
}
.dash{
    width: 20px;
    height: 1px;
    background-color: #a3a3a3;
}
.all-cat-btn{
    font-size: 12px;
}
.all-cat-selector li label{
    font-size: 12px;
}
.all-cat-selector li input{
    float: right;
    width: auto;
}

/* Genie list CSS */
.lamp-btn{
    position: relative;
}
.genie-list-container{
    position: absolute;
    height: auto;
    width: 600px;
    background-color: #ffffff;
    right: 30px;
    top: 40px;
    z-index: 33;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    padding: 30px 15px;
}
.genie-list-new, .genie-list-ongoig, .genie-list-history{
    padding: 35px 25px;
    padding-bottom: 0px;
}
.genie-list-tabs{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.result-not-found{
    position: relative;
}
.add-genie-list{
    position: absolute;
    height: auto;
    width: 300px;
    background-color: #ffffff;
    left: 30px;
    top: 40px;
    z-index: 33;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    padding: 30px 15px;
}

.genie-list-product{
    display: flex;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.genie-list-product img{
    height: 70px;
    margin-right: 15px;
}
.quantity-increment{
    display: flex;
    align-items: center;
}
.genie-list-product-btn{
    width: 100%;
    background-color: #b0dcb2;
    color: var(--primary-color);
    margin-top: 15px;
}
.send-genie-btn{
    width: 100%;
}

/* ongoing genie */
.genie-lists-ongoing{
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f6f6f6;
    position: relative;
}
.genie-lists-ongoing img{
    height: 60px;
    margin-right: 20px;
}
.genie-lists-ongoing-details{
    position: absolute;
    height: auto;
    width: 300px;
    background-color: #ffffff;
    left: 170px;
    top: 70px;
    z-index: 33;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    padding: 30px 15px;
}
.geine-all-btn{
    background-color: #93e295a4;
    position: relative;
}
.genie-list-view-all-product{
    position: absolute;
    height: auto;
    width: 300px;
    background-color: #ffffff;
    left: 170px;
    top: 70px;
    z-index: 33;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    padding: 30px 15px;
}
.list-of-products{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 15px;
}
.list-of-products-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.list-of-products-details .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.list-of-products-details .bottom .left{
    margin-right: 10px;
}
.list-of-products-details .bottom .left p{
    color: var(--secondary-color);
}
.list-of-products-details .bottom .right button{
    width: 50px;
    background-color: #a3a3a3;
}
.list-of-products-details .bottom .right button img{
    height: 10px;
    color: var(--card-bg);
}
.rate-service-star i{
    color: #ece1e1;
}
.courier{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.courier img{
    width: 70px;
    border-radius: 50%;
    
}
/* Genie list CSS end */


.contents {
	padding: 20px;
	position: absolute;
	background-color: white;
	width: 50%;
	right: 4%;
	top: 41px;
	z-index: 999999;
	border-radius: 8px;
}

.contents{
     transform: translateX(0);
    transition: .5s;
}
#hidecontent{
    display: none;
}

.title h5 {
  color:#000;
    padding: 10px 0;
    width:100%
}
.hover-location{
    padding: 13px 8;
}
.hover-location:hover{
    background:rgba(94, 196, 1, 0.37);
    transition:1s;
}
.hover-location{
    border-bottom:1px solid rgba(128, 128, 128, 0.2);
}
.title-home p{
    margin-left: 25px
}
.hover-location{
    margin-bottom: 8px;
}
.fa-home{
    padding-right:8px;
}

.fa-briefcase{
     padding-right:8px;
}
.fa-map-marker{
     padding-right:8px;
}
.title-work{
    width:100%;
    padding: 20px 0;
}
/* .fa-plus{
    position: fixed;
    left:50px;
    margin-top:6px;
} */
.title-work{
    width:100%;
    margin-top:20px;
}
.contents hr{
    color:gray;
    width: 100%;
}
.btn-danger{
    position: absolute;
    right: 0;
    top:0;
    z-index: 9999;
}

.fa-ellipsis-v {
	position: absolute;
	z-index: 99;
	right: 6%;
}

.title_input span{
   padding-left:8px
}
.title_input{
    width: 100%;
    padding: 13px 0;
}
.adress_home{
    background:rgba(128, 128, 128, 0.46);
    border-radius: 10px;
    margin-bottom:5px;
    overflow: hidden;
    border-bottom:2px solid #5EC401
 
}
.edit span{
	padding: 5px 10px;
	color: #000;
}
.edit{
    width: 100%;
    padding: 20px 0;
}
.adress_home p{
	font-size: 0.9em;
	padding: 5px 10px;
	color: #000;
}
.adress_home h6{
	font-size: 0.9em;
	padding: 5px 10px;
	color: #000;
}
.title-work input {
    margin:10px 0;
    background: rgba(128, 128, 128, 0.16);
}
.form-div{
    width: 100%;
    position: relative;
}
input[type="text"]::placeholder {  
    margin-left: 10px; 
}
.fa-search-plus {
	position: absolute;
	right: 12px;
	top: 10px;
}
.location-img img {
	vertical-align: middle;
	border-style: none;
	width: 15%;
	display: block;
	margin: 0 auto;
    padding: 30px 0 20px 0;
}
.location-img p{
    color:#000;
    padding:0 0 54px 0;
}
.location-img{
    text-align: center;
    width:100%;
    padding: 30x 0;

    
}
.btn-info{
    background:rgba(94, 196, 1, 0.37);
    color:#5EC401;
    margin:40x 0;
}

.btn-info:hover{
    background: #5EC401;
}
.title-home:hover{
     background:rgba(94, 196, 1, 0.37);
    transition:1s;
}


